{
  "github-oauth": {
    "github.com": "your-github-token"
  },
  "http-basic": {
    "repo.magento.com": {
      "username": "your-magento-repo-public-key",
      "password": "your-magento-repo-secret-key"
    }
  }
}