<VirtualHost *:80>
    DocumentRoot "<guest_magento_dir>"
    ServerName <host>
    <Directory "<guest_magento_dir>">
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog "${APACHE_LOG_DIR}/error.log"
    CustomLog "${APACHE_LOG_DIR}/access.log" common
</VirtualHost>
